body{
  background: #ccc;
}
main{
  width: 100%;
  height: auto;
  background: #999;
}
header{
  width: 100%;
  height: 40vh;
  background: #111;

}
.produtos{
  width: 100%;
  height: 50vh;
  background: #0f0;
}
.card{
  width: 90%;
  height: 45vh;
  background: #fff;
  margin-left: 5%;
  float: left;
}
.destaque{
  width: 100%;
  height: 50vh;
  background: #0f0;
}
footer{
  width: 100%;
  height: 20vh;
  background: #00f
}