body{
  background: #ccc;
}
main{
  width: 100%;
  height: auto;
  background: #999;
}
header{
  width: 100%;
  height: 40vh;
  background: #000;
}
.produtos{
  width: 100%;
  height: auto;
  background: #0F0;
  float: left;
}
.card{
  width: 90%;
  height: auto;
  background: #fff;
  margin-left: 5%;
  float: left;
  position: relative;
  overflow: hidden;
  padding-bottom: 2vh;
  margin-bottom: 2vh;
}
.titulo-card{
  width: 90%;
  height: auto;
  float: left;
  background: PURPLE;
  margin-left: 5%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.desc{
  width: 90%;
  height: auto;
  float: left;
  background: lightgray;
  margin-left: 5%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-top: 1vh;
}
.preco{
  width: 40%;
  height: auto;
  float: left;
  background: #82fff9;
  margin-left: 5%;
  margin-top: 2vh;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}
.avaliacao{
  width: 40%;
  height: 2.5vh;
  line-height: 2.5vh;
  float: right;
  background: #82fff9;
  margin-left: 5%;
  margin-top: 2vh;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 5%;
  text-align: center;
}
.off{
  padding: 1%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 2vh;
  left: 0;
  z-index: 2;
  background: black;
}
.img-card{
  width: 100%;
  height: auto;
  float: left;
}
.destaque{
  width: 100%;
  height: 50vh;
  background: #F00;
}
footer{
  width: 100%;
  height: 20vh;
  background: #00F;
}